<script>
	import Section from '$components/chapters/Section.svelte';
	import Exercise from '$components/chapters/Exercise.svelte';
	import ScatterDemo from '$components/chapters/1-your-first-charts/ScatterDemo.svelte';
	import FirstScatterPlot from '$exercises/1-first-scatter-plot.svelte';
</script>

<Section id="circles" title="2. You First Scatter Plot">

Now we draw inside the canvas. A point is a `<circle>`, which needs a centre (`cx`, `cy`) and a radius `r`:

```svelte
/// file: A circle
<svg class="chart" width="500" height="350">
	<circle cx="100" cy="80" r="8" fill="steelblue" />
</svg>
```

To draw the circle:
- We start with placing the circle at the correct position with `cx` and `cy` and then 
- `r` - gives it a radius.
- `fill` to make it visible. This can be any colour eg. "red", "#ff0000", hsl(0, 100%, 50%), etc.
- `stroke` is also a colour that can be used to give the circle a border. You can control its thickness with `stroke-width="4"`.

<Exercise file="1-first-scatter-plot.svelte">
	<FirstScatterPlot />
</Exercise>

{#snippet sidebar()}

To position the circle 20px from the bottom using curly brackets to do some math: `cy={350 - 20}`.

```svelte
/// file: Circle
<circle cx="15" cy="{350 - 20}" r="8" fill="steelblue" />
```

**RESULT**:

<ScatterDemo />

{/snippet}

</Section>
